<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smsbooker.pack" >

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.smsbooker.pack.activities.CardsListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smsbooker.pack.activities.AddCardActivity"
            android:label="@string/title_activity_add_card" >
        </activity>
        <activity
            android:name="com.smsbooker.pack.activities.addCardPattern.AddCardPatternAddressStepActivity"
            android:label="@string/title_activity_add_card_pattern" >
        </activity>
        <activity
            android:name="com.smsbooker.pack.activities.addCardPattern.AddCardPatternMessageStepActivity"
            android:label="@string/title_activity_add_card_pattern" >
        </activity>
        <activity
            android:name="com.smsbooker.pack.activities.addCardPattern.AddCardPatternTypeStepActivity"
            android:label="@string/title_activity_add_card_pattern" >
        </activity>
        <activity
            android:name="com.smsbooker.pack.activities.addCardPattern.AddCardPatternCheckwordStepActivity"
            android:label="@string/title_activity_add_card_pattern" >
        </activity>
        <activity
            android:name="com.smsbooker.pack.activities.addCardPattern.AddCardPatternQuantityStepActivity"
            android:label="@string/title_activity_add_card_pattern" >
        </activity>
        <activity
            android:name="com.smsbooker.pack.activities.addCardPattern.AddCardPatternBalanceStepActivity"
            android:label="@string/title_activity_add_card_pattern" >
        </activity>
        <activity
            android:name="com.smsbooker.pack.activities.TransactionsListActivity"
            android:label="@string/title_activity_transactions_list" >
        </activity>

        <service
            android:name="com.smsbooker.pack.services.InboxMessagesHandleService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name="com.smsbooker.pack.receivers.SMSReceiver" >
            <intent-filter android:priority="100" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".widget.WidgetConfigureActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

</manifest>
