<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smsbooker.pack" >

    <uses-sdk android:minSdkVersion="14"></uses-sdk>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.smsbooker.pack.activities.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".activities.CardsListActivity"
            android:label="@string/title_activity_cards_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.addcard.AddCardFirstStepActivity"
            android:label="@string/title_activity_add_card">
        </activity>
        <activity
            android:name=".activities.addcard.AddCardSecondStepActivity"
            android:label="@string/title_activity_add_card">
        </activity>
        <activity
            android:name=".activities.addcard.AddCardThirdStepActivity"
            android:label="@string/title_activity_add_card">
        </activity>
        <activity
            android:name=".activities.MessagesPhoneNumbersActivity"
            android:label="@string/title_activity_messages_phone_numbers">
        </activity>
    </application>

    <uses-permission android:name="android.permission.READ_SMS" />

</manifest>
